{% extends "layout.html" %}

{% block content %}
<h2>utilisateurs :</h2>

{% for u in users %}
<form method="POST" action="/login">
    <div class="form-group">
        <label>Pseudo</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Indiquez votre pseudonyme">
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="password" class="form-control" placeholder="Indiquez votre âge">
    </div>
    <div class="form-group">
        <label>Sexe</label>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choisissez votre sexe
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Homme</a>
                <a class="dropdown-item">Femme</a>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endfor %}

{% endblock %}
