{% extends "layout.html" %}

{% block content %}
<h2>Créer un compte :</h2>

<form method="POST" action="/register">
    <div class="form-group">
        <label>Pseudonyme</label>
        <input name="pseudo" type="text" class="form-control"
               placeholder="Indiquez votre pseudonyme">
    </div>
    <div class="form-group">
        <label>Age</label>
        <input name="age" type="text" class="form-control"
               placeholder="Indiquez votre âge">
    </div>

    <div class="form-group">
        <label>email</label>
        <input name="email" type="text" class="form-control"
               placeholder="Indiquez votre email">
    </div>

    <div class="form-group">
        <label>password</label>
        <input name="password" type="password" class="form-control" placeholder="Indiquez votre mot de passe">
    </div>
    <div class="form-group">
        <label>Sexe</label>
        <div class="col-sm-10">
            <div class="form-check">
                <input name="sexe" class="form-check-input" type="radio" id="gridRadios1"
                       value="homme" checked>
                <label class="form-check-label" for="gridRadios1">
                    Homme
                </label>
            </div>
            <div class="form-check">
                <input name="sexe" class="form-check-input" type="radio" id="gridRadios2"
                       value="femme">
                <label class="form-check-label" for="gridRadios2">
                    Femme
                </label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
